<div class="container">
  <div class="row">
    <div class="col-4">
      @for(a of auto; track a._id) {
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          (change)="onCheckboxChange($event, a.marca)"
        />
        <label class="form-check-label" for="flexCheckChecked">
          {{ a.marca }}
        </label>
      </div>
      }
    </div>

    <div class="col">
      <h1>Modelli</h1>
      <ul class="list-group">
        @for(m of modelli; track $index) {
        <li class="list-group-item">{{ m.modello }}</li>
        }
      </ul>
    </div>
  </div>
</div>
